<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet"  href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!--header-->
    <div class="head"><h1 align="center">PROJECT</h1></div>
    <br><br>
    <!--form-->
<form action="/" method="POST">
  <div class="search">
        <div>
    <label>PRODUCT1:</label>
    <input type="text" name="search_query1" id="textbox1" placeholder="search1" size="50">
        <div><pre class="error-message" id="error-message">{{ error1 }}</pre></div>
        </div>
        <div>
    <label>PRODUCT2:</label>
    <input type="text" name="search_query2" id="textbox2" placeholder="search2" size="50">
    <br><div><pre class="error-message" id="error-message">{{ error2 }}</pre></div>
        </div>
  </div><br><br>
        <div class="search">
        <h1></h1>
        <button type="submit" class="button" onclick="fetchData()">COMPARE</button>
        <h1></h1>
        </div>
</form>

    <!--Loading Animation-->
    <br><br>
    <div class="loader" id="loader"></div>
    <br><div class="content" id="content">Please Wait...</div>
    <br><!--suggestion-->
    <br><br>

<div id="result">
   
    <!--result table-->
    {% if tabledata %}
    {% for row in tabledata %}


<!--IMAGES-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>IMAGES</b></font></div>
    </div>
    <div style="display: flex;justify-content: space-around;">
        <div><table border="2" style="border-collapse: collapse;width:10.5cm;"><tr><td><center><img src="{{row['data85']}}" width="200px" height="300px"></center></td></tr><tr><td><center><h1>{{row['data1']}}</h1></center></td></tr></table></div>
        <div><table border="2" style="border-collapse: collapse;width:10.5cm;"><tr><td><center><img src="{{row['data86']}}" width="200px" height="300px"></center></td></tr><tr><td><center><h1>{{row['data2']}}</h1></center></td></tr></table></div>
    </div>

<!--SUGGEST-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>Suggest</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td><h2>{{suggest}}</h2></td>
        </tr>
    </table>

<!--REVIEW-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>REVIEW</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Rating</b></td>
            <td width="25%">{{row['data83']}}</td>
            <td width="25%">{{row['data84']}}</td>
        </tr>
    </table>

<!--NETWORK -->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>NETWORK</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Technology</b></td>
            <td width="25%">{{row['data3']}}</td>
            <td width="25%">{{row['data4']}}</td>
        </tr>
    </table>
<!--LAUNCH-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>LAUNCH</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Announced</b></td>
            <td width="25%">{{row['data5']}}</td>
            <td width="25%">{{row['data6']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Status</b></td>
            <td>{{row['data7']}}</td>
            <td>{{row['data8']}}</td>
        </tr>
    </table>
<!--BODY-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>BODY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Dimensions</b></td>
            <td width="25%">{{row['data9']}}</td>
            <td width="25%">{{row['data10']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Weight</b></td>
            <td>{{row['data11']}}</td>
            <td>{{row['data12']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Build</b></td>
            <td>{{row['data13']}}</td>
            <td>{{row['data14']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SIM</b></td>
            <td>{{row['data15']}}</td>
            <td>{{row['data16']}}</td>
        </tr>
    </table>
<!--DISPLAY-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>DISPLAY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Type</b></td>
            <td width="25%">{{row['data17']}}</td>
            <td width="25%">{{row['data18']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Size</b></td>
            <td>{{row['data19']}}</td>
            <td>{{row['data20']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Resolution</b></td>
            <td>{{row['data21']}}</td>
            <td>{{row['data22']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Protection</b></td>
            <td>{{row['data23']}}</td>
            <td>{{row['data24']}}</td>
        </tr>
    </table>
<!--PLATFORM-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>PLATFORM</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>OS</b></td>
            <td width="25%">{{row['data25']}}</td>
            <td width="25%">{{row['data26']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>ChipSet</b></td>
            <td>{{row['data27']}}</td>
            <td>{{row['data28']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>CPU</b></td>
            <td>{{row['data29']}}</td>
            <td>{{row['data30']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>GPU</b></td>
            <td>{{row['data31']}}</td>
            <td>{{row['data32']}}</td>
        </tr>
    </table>
<!--Memory-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>MEMORY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Card Slot</b></td>
            <td width="25%">{{row['data33']}}</td>
            <td width="25%">{{row['data34']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Internal</b></td>
            <td>{{row['data35']}}</td>
            <td>{{row['data36']}}</td>
        </tr>
    </table>
<!--MAIN CAMERA-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>MAIN CAMERA</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="8.5%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Single/Triple/Quad</b></td>
            <td width="25%">{{row['data37']}}</td>
            <td width="25%">{{row['data38']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Features</b></td>
            <td>{{row['data39']}}</td>
            <td>{{row['data40']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Video</b></td>
            <td>{{row['data41']}}</td>
            <td>{{row['data42']}}</td>
        </tr>
    </table>
<!--SELFIE CAMERA-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>SELFIE CAMERA</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Single</b></td>
            <td width="25%">{{row['data43']}}</td>
            <td width="25%">{{row['data44']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Features</b></td>
            <td>{{row['data45']}}</td>
            <td>{{row['data46']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Video</b></td>
            <td>{{row['data47']}}</td>
            <td>{{row['data48']}}</td>
        </tr>
    </table>
<!--SOUND-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>SOUND</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>LoudSpeaker</b></td>
            <td width="25%">{{row['data49']}}</td>
            <td width="25%">{{row['data50']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>3.5mm Jack</b></td>
            <td>{{row['data51']}}</td>
            <td>{{row['data52']}}</td>
        </tr>
    </table>
<!--COMMS-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>COMMS</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>WLAN</b></td>
            <td width="25%">{{row['data53']}}</td>
            <td width="25%">{{row['data54']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Bluetooth</b></td>
            <td>{{row['data55']}}</td>
            <td>{{row['data56']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Positioning</b></td>
            <td>{{row['data57']}}</td>
            <td>{{row['data58']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>NFC</b></td>
            <td>{{row['data59']}}</td>
            <td>{{row['data60']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Infrared Port</b></td>
            <td>{{row['data61']}}</td>
            <td>{{row['data62']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Radio</b></td>
            <td>{{row['data63']}}</td>
            <td>{{row['data64']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>USB</b></td>
            <td>{{row['data65']}}</td>
            <td>{{row['data66']}}</td>
        </tr>
    </table>
<!--FEATURES-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>FEATURES</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Sensors</b></td>
            <td width="25%">{{row['data67']}}</td>
            <td width="25%">{{row['data68']}}</td>
        </tr>
    </table>
<!--BATTERY-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>BATTERY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Type</b></td>
            <td width="25%">{{row['data69']}}</td>
            <td width="25%">{{row['data70']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Charging</b></td>
            <td>{{row['data71']}}</td>
            <td>{{row['data72']}}</td>
        </tr>
    </table>
<!--MISC-->
    <br>
        <div style="display: flex;">
            <div class="headingcolumn"></div>
            <div class="columnname"><font size="5.9px" color="red"><b>MISC</b></font></div>
        </div>
        <table border="1px" class="compareresult-table">
            <tr>
                <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Colors</b></td>
                <td width="25%">{{row['data73']}}</td>
                <td width="25%">{{row['data74']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Model</b></td>
                <td>{{row['data75']}}</td>
                <td>{{row['data76']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SAR</b></td>
                <td>{{row['data77']}}</td>
                <td>{{row['data78']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SAR EU</b></td>
                <td>{{row['data79']}}</td>
                <td>{{row['data80']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Price</b></td>
                <td>{{row['data81']}}</td>
                <td>{{row['data82']}}</td>
            </tr>
        </table><br><br>

        {% endfor %}
        {% endif %}

</div>
<script src="/static/scripts.js"></script>
    
  

</body>
</html>
