<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet"  href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!--header-->
    <div class="head"><h1 align="center">MOBILE COMPARISION</h1></div>
    <br><br>
    <!--form-->
<form action="/" method="POST">
  <div class="search">
        <div>
    <label>PRODUCT1:</label>
    <input type="text" name="search_query1" id="textbox1" placeholder="search1" size="50">
        <div><pre class="error-message" id="error-message">{{ error1 }}</pre></div>
        </div>
        <div>
    <label>PRODUCT2:</label>
    <input type="text" name="search_query2" id="textbox2" placeholder="search2" size="50">
    <br><div><pre class="error-message" id="error-message">{{ error2 }}</pre></div>
        </div>
  </div><br><br>
        <div class="search">
        <h1></h1>
        <button type="submit" class="button" onclick="fetchData()">COMPARE</button>
        <h1></h1>
        </div>
</form>

    <!--Loading Animation-->
    <br><br>
    <div class="loader" id="loader"></div>
    <br><div class="content" id="content">Please Wait...</div>
    <br><!--suggestion-->
    <br><br>

<div id="result">
   
    <!--result table-->
    {% if data1 and data2 %}


<!--IMAGES-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>IMAGES</b></font></div>
    </div>
    <div style="display: flex;justify-content: space-around;">
        <div><table border="2" style="border-collapse: collapse;width:10.5cm;"><tr><td><center><img src="{{data1['img_url']}}" width="200px" height="300px"></center></td></tr><tr><td><center><h1>{{data1['data']['Product Name']}}</h1></center></td></tr></table></div>
        <div><table border="2" style="border-collapse: collapse;width:10.5cm;"><tr><td><center><img src="{{data2['img_url']}}" width="200px" height="300px"></center></td></tr><tr><td><center><h1>{{data2['data']['Product Name']}}</h1></center></td></tr></table></div>
    </div>

<!--SUGGEST-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>Suggest</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td><h2>{{suggest}}</h2></td>
        </tr>
    </table>

<!--REVIEW-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>REVIEW</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Rating</b></td>
            <td width="25%">{{data1['data']['Review Rating']}}</td>
            <td width="25%">{{data2['data']['Review Rating']}}</td>
        </tr>
    </table>

<!--NETWORK -->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>NETWORK</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Technology</b></td>
            <td width="25%">{{data1['data']['Technology']}}</td>
            <td width="25%">{{data2['data']['Technology']}}</td>
        </tr>
    </table>
<!--LAUNCH-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>LAUNCH</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Announced</b></td>
            <td width="25%">{{data1['data']['Announced']}}</td>
            <td width="25%">{{data2['data']['Announced']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Status</b></td>
            <td>{{data1['data']['Status']}}</td>
            <td>{{data2['data']['Status']}}</td>
        </tr>
    </table>
<!--BODY-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>BODY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Dimensions</b></td>
            <td width="25%">{{data1['data']['Dimensions']}}</td>
            <td width="25%">{{data2['data']['Dimensions']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Weight</b></td>
            <td>{{data1['data']['Weight']}}</td>
            <td>{{data2['data']['Weight']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Build</b></td>
            <td>{{data1['data']['Build']}}</td>
            <td>{{data2['data']['Build']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SIM</b></td>
            <td>{{data1['data']['SIM']}}</td>
            <td>{{data2['data']['SIM']}}</td>
        </tr>
    </table>
<!--DISPLAY-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>DISPLAY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Type</b></td>
            <td width="25%">{{data1['data']['Display Type']}}</td>
            <td width="25%">{{data2['data']['Display Type']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Size</b></td>
            <td>{{data1['data']['Size']}}</td>
            <td>{{data2['data']['Size']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Resolution</b></td>
            <td>{{data1['data']['Resolution']}}</td>
            <td>{{data2['data']['Resolution']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Protection</b></td>
            <td>{{data1['data']['Protection']}}</td>
            <td>{{data2['data']['Protection']}}</td>
        </tr>
    </table>
<!--PLATFORM-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>PLATFORM</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>OS</b></td>
            <td width="25%">{{data1['data']['OS']}}</td>
            <td width="25%">{{data2['data']['OS']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>ChipSet</b></td>
            <td>{{data1['data']['Chipset']}}</td>
            <td>{{data2['data']['Chipset']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>CPU</b></td>
            <td>{{data1['data']['CPU']}}</td>
            <td>{{data2['data']['CPU']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>GPU</b></td>
            <td>{{data1['data']['GPU']}}</td>
            <td>{{data2['data']['GPU']}}</td>
        </tr>
    </table>
<!--Memory-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>MEMORY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Card Slot</b></td>
            <td width="25%">{{data1['data']['Card Slot']}}</td>
            <td width="25%">{{data2['data']['Card Slot']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Internal</b></td>
            <td>{{data1['data']['Internal Memory']}}</td>
            <td>{{data2['data']['Internal Memory']}}</td>
        </tr>
    </table>
<!--MAIN CAMERA-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>MAIN CAMERA</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="8.5%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Single/Triple/Quad</b></td>
            <td style="display: none;" id="original-string1">{{data1['data']['Main Camera Modules']}}</td>
            <td width="25%" id="modified-string1"></td>
            <td style="display: none;" id="original-string2">{{data2['data']['Main Camera Modules']}}</td>
            <td width="25%" id="modified-string2"></td>

            <script>
                function insertBreaksBeforeSubstring(text, substring) {
                    let index=0;
                    const modifiedString = text.replace(/(\d+ MP)/g, function(match){
                        index++;
                        return `<br><font color="red">CAM${index}:</font>${match}`;
                    });
                    return modifiedString;
                }
                // Get the original string from the HTML
                const originalString1 = document.getElementById('original-string1').innerText;
                const originalString2 = document.getElementById('original-string2').innerText;
                // Call the function and set the modified string in the HTML
                const modifiedString1 = insertBreaksBeforeSubstring(originalString1, ' MP');
                document.getElementById('modified-string1').innerHTML = modifiedString1;
                const modifiedString2 = insertBreaksBeforeSubstring(originalString2, ' MP');
                document.getElementById('modified-string2').innerHTML = modifiedString2;
            </script>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Features</b></td>
            <td>{{data1['data']['Main Camera Features']}}</td>
            <td>{{data2['data']['Main Camera Features']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Video</b></td>
            <td>{{data1['data']['Main Camera Video']}}</td>
            <td>{{data2['data']['Main Camera Video']}}</td>
        </tr>
    </table>
<!--SELFIE CAMERA-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>SELFIE CAMERA</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Single</b></td>
            <td width="25%">{{data1['data']['Secondary Camera Modules']}}</td>
            <td width="25%">{{data2['data']['Secondary Camera Modules']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Features</b></td>
            <td>{{data1['data']['Secondary Camera Features']}}</td>
            <td>{{data2['data']['Secondary Camera Features']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Video</b></td>
            <td>{{data1['data']['Secondary Camera Video']}}</td>
            <td>{{data2['data']['Secondary Camera Video']}}</td>
        </tr>
    </table>
<!--SOUND-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>SOUND</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>LoudSpeaker</b></td>
            <td width="25%">{{data1['data']['Loudspeaker']}}</td>
            <td width="25%">{{data2['data']['Loudspeaker']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>3.5mm Jack</b></td>
            <td>{{data1['data']['Jack']}}</td>
            <td>{{data2['data']['Jack']}}</td>
        </tr>
    </table>
<!--COMMS-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>COMMS</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>WLAN</b></td>
            <td width="25%">{{data1['data']['WLAN']}}</td>
            <td width="25%">{{data2['data']['WLAN']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Bluetooth</b></td>
            <td>{{data1['data']['Bluetooth']}}</td>
            <td>{{data2['data']['Bluetooth']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Positioning</b></td>
            <td>{{data1['data']['Positioning']}}</td>
            <td>{{data2['data']['Positioning']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>NFC</b></td>
            <td>{{data1['data']['NFC']}}</td>
            <td>{{data2['data']['NFC']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Infrared Port</b></td>
            <td>{{data1['data']['Infrared']}}</td>
            <td>{{data2['data']['Infrared']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Radio</b></td>
            <td>{{data1['data']['Radio']}}</td>
            <td>{{data2['data']['Radio']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>USB</b></td>
            <td>{{data1['data']['USB']}}</td>
            <td>{{data2['data']['USB']}}</td>
        </tr>
    </table>
<!--FEATURES-->
    <br>
    <div style="display: flex;">
        <div class="headingcolumn"></div>
        <div class="columnname"><font size="5.9px" color="red"><b>FEATURES</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Sensors</b></td>
            <td width="25%">{{data1['data']['Sensors']}}</td>
            <td width="25%">{{data2['data']['Sensors']}}</td>
        </tr>
    </table>
<!--BATTERY-->
    <br>
    <div style="display: flex;">
    <div class="headingcolumn"></div>
    <div class="columnname"><font size="5.9px" color="red"><b>BATTERY</b></font></div>
    </div>
    <table border="1px" class="compareresult-table">
        <tr>
            <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Type</b></td>
            <td width="25%">{{data1['data']['Battery Description']}}</td>
            <td width="25%">{{data2['data']['Battery Description']}}</td>
        </tr>
        <tr>
            <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Charging</b></td>
            <td>{{data1['data']['Charging']}}</td>
            <td>{{data2['data']['Charging']}}</td>
        </tr>
    </table>
<!--MISC-->
    <br>
        <div style="display: flex;">
            <div class="headingcolumn"></div>
            <div class="columnname"><font size="5.9px" color="red"><b>MISC</b></font></div>
        </div>
        <table border="1px" class="compareresult-table">
            <tr>
                <td width="10%" style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Colors</b></td>
                <td width="25%">{{data1['data']['Colors']}}</td>
                <td width="25%">{{data2['data']['Colors']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Model</b></td>
                <td>{{data1['data']['Models']}}</td>
                <td>{{data2['data']['Models']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SAR</b></td>
                <td>{{data1['data']['SAR US']}}</td>
                <td>{{data2['data']['SAR US']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>SAR EU</b></td>
                <td>{{data1['data']['SAR EU']}}</td>
                <td>{{data2['data']['SAR EU']}}</td>
            </tr>
            <tr>
                <td style="color:rgba(68, 67, 67, 0.895);font-size: 20px;"><b>Price</b></td>
                <td>{{data1['data']['Price']}}</td>
                <td>{{data2['data']['Price']}}</td>
            </tr>
        </table><br><br>

        {% endif %}

</div>
<script src="{{url_for('static',filename='scripts.js')}}"></script>
    
  

</body>
</html>
