<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet"  href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!--header-->
    <div class="head"><h1 align="center">PROJECT</h1></div>
    <br><br>
    <!--form-->
<form action="/" method="POST">
  <div class="search">
        <div>
    <label>PRODUCT1:</label>
    <input type="text" name="search_query1" id="textbox1" placeholder="search1" size="50">
        <div><pre class="error-message" id="error-message">{{ error1 }}</pre></div>
        </div>
        <div>
    <label>PRODUCT2:</label>
    <input type="text" name="search_query2" id="textbox2" placeholder="search2" size="50">
    <br><div><pre class="error-message" id="error-message">{{ error2 }}</pre></div>
        </div>
  </div><br><br>
        <div class="search">
        <h1></h1>
        <button type="submit" class="button" onclick="fetchData()">COMPARE</button>
        <h1></h1>
        </div>
</form>

    <!--Loading Animation-->
    <br><br>
    <div class="loader" id="loader"></div>
    <br><div class="content" id="content">Please Wait...</div>
    <br><!--suggestion-->
    {% if suggest %}
    <div class="suggestion" id="suggestion">
      <div><pre><font face="bold" size="5" color="red">SUGGESTION :</font><font size="5" color="green"> {{suggest}}</font></pre></div>
    </div>
    {% endif %}
    <br><br>

    <div id="result">
   
    <!--result table-->
    {% if table_data %}
    {% for row in table_data %}
<table border="1" width="100%" style="border-collapse:collapse" class="resultant-table">
    <!-- row1-->
    <thead>
            <td colspan="2"></td>
            <th align="center" width="42%">
                <h1>{{row['data1']}}</h1><br>
            </th>
            <th align="center" width="50%">
                <h1>{{row['data2']}}</h1><br>
            </th>
    </thead>

    <!--row2-->
    <tr>
      <td align="center" class="headings" width="10%">MOBILE</td>
      <td align="left" class="subheadings">Image</td>
      <td align="center"><img src="{{row['data85']}}"></td>
      <td align="center"><img src="{{row['data86']}}"></td>
    </tr>
    
    <!-- row3-->
    <tr>
      <td align="center" class="headings" width="10%">NETWORK</td>
      <td align="left" class="subheadings">Technology</td>
      <td>{{row['data3']}}</td>
      <td>{{row['data4']}}</td>
    </tr>

    <!-- row4-->
    <tr>
      <td rowspan="2" align="center" class="headings" width="10%">LAUNCH</td>
      <td align="left" class="subheadings" width="10%">Announced</td>
      <td>{{row['data5']}}</td>
      <td>{{row['data6']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Status</td>
      <td>{{row['data7']}}</td>
      <td>{{row['data8']}}</td>
    </tr>

    <!-- row5-->
    <tr> 
      <td rowspan="4" align="center" class="headings" width="10%">BODY</td>
      <td align="left" class="subheadings" width="10%">Dimensions</td>
      <td>{{row['data9']}}</td>
      <td>{{row['data10']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Weight</td>
      <td>{{row['data11']}}</td>
      <td>{{row['data12']}}</td>
    </tr>
     <tr>
      <td align="left" class="subheadings" width="10%">Build</td>
      <td>{{row['data13']}}</td>
      <td>{{row['data14']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">SIM</td>
      <td>{{row['data15']}}</td>
      <td>{{row['data16']}}</td>
    </tr>

    <!-- row6-->
    <tr>
      <td rowspan="4" align="center" class="headings" width="10%">DISPLAY</td>
      <td align="left" class="subheadings" width="10%">Type</td>
      <td>{{row['data17']}}</td>
      <td>{{row['data18']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Size</td>
      <td>{{row['data19']}}</td>
      <td>{{row['data20']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Resolution</td>
      <td>{{row['data21']}}</td>
      <td>{{row['data22']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Protection</td>
      <td>{{row['data23']}}</td>
      <td>{{row['data24']}}</td>
    </tr>

    <!-- row7-->
    <tr> 
      <td rowspan="4" align="center" class="headings" width="10%">PLATFORM</td>
      <td align="left" class="subheadings" width="10%">OS</td>
      <td>{{row['data25']}}</td>
      <td>{{row['data26']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">ChipSet</td>
      <td>{{row['data27']}}</td>
      <td>{{row['data28']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">CPU</td>
      <td>{{row['data29']}}</td>
      <td>{{row['data30']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">GPU</td>
      <td>{{row['data31']}}</td>
      <td>{{row['data32']}}</td>
    </tr>

    <!-- row8-->
    <tr>
      <td rowspan="2" align="center" class="headings" width="10%">MEMORY</td>
      <td align="left" class="subheadings" width="10%">Card slot</td>
      <td>{{row['data33']}}</td>
      <td>{{row['data34']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Internal</td>
      <td>{{row['data35']}}</td>
      <td>{{row['data36']}}</td>
    </tr>

    <!-- row9-->
    <tr>
      <td rowspan="3" align="center" class="headings" width="10%">MAIN<br>CAMERA</td>
      <td align="left" class="subheadings" width="10%">Single/Triple/Quad</td>
      <td>{{row['data37']}}</td>
      <td>{{row['data38']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Features</td>
      <td>{{row['data39']}}</td>
      <td>{{row['data40']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Video</td>
      <td>{{row['data41']}}</td>
      <td>{{row['data42']}}</td>
    </tr>

    <!-- row10-->
    <tr>
      <td rowspan="3" align="center" class="headings" width="10%">SELFIE<br>CAMERA</td>
      <td align="left" class="subheadings" width="10%">Single</td>
      <td>{{row['data43']}}</td>
      <td>{{row['data44']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Features</td>
      <td>{{row['data45']}}</td>
      <td>{{row['data46']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Video</td>
      <td>{{row['data47']}}</td>
      <td>{{row['data48']}}</td>
    </tr>

    <!-- row11-->
     <tr>
      <td rowspan="2" align="center" class="headings" width="10%">SOUND</td>
      <td align="left" class="subheadings" width="10%">LoudSpeaker</td>
      <td>{{row['data49']}}</td>
      <td>{{row['data50']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">3.5mm jack</td>
      <td>{{row['data51']}}</td>
      <td>{{row['data52']}}</td>
    </tr>

    <!-- row12-->
    <tr>
      <td rowspan="7" align="center" class="headings" width="10%">COMMS</td>
      <td align="left" class="subheadings" width="10%">WLAN</td>
      <td>{{row['data53']}}</td>
      <td>{{row['data54']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Blutooth</td>
      <td>{{row['data55']}}</td>
      <td>{{row['data56']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Positioning</td>
      <td>{{row['data57']}}</td>
      <td>{{row['data58']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">NFC</td>
      <td>{{row['data59']}}</td>
      <td>{{row['data60']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Infrared Port</td>
      <td>{{row['data61']}}</td>
      <td>{{row['data62']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Radio</td>
      <td>{{row['data63']}}</td>
      <td>{{row['data64']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">USB</td>
      <td>{{row['data65']}}</td>
      <td>{{row['data66']}}</td>
    </tr>

    <!-- row13-->
    <tr>
      <td align="center" class="headings" width="10%">FEATURES</td>
      <td align="left" class="subheadings" width="10%">Sensors</td>
      <td>{{row['data67']}}</td>
      <td>{{row['data68']}}</td>
    </tr>

    <!-- row14-->
    <tr>
      <td rowspan="2" align="center" class="headings" width="10%">BATTERY</td>
      <td align="left" class="subheadings" width="10%">Type</td>
      <td>{{row['data69']}}</td>
      <td>{{row['data70']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Charging</td>
      <td>{{row['data71']}}</td>
      <td>{{row['data72']}}</td>
    </tr>

    <!-- row15-->
    <tr>
      <td align="center" class="headings" width="10%" rowspan="5">MISC</td>
      <td align="left" class="subheadings" width="10%">Colors</td>
      <td>{{row['data73']}}</td>
      <td>{{row['data74']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Model</td>
      <td>{{row['data75']}}</td>
      <td>{{row['data76']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">SAR</td>
      <td>{{row['data77']}}</td>
      <td>{{row['data78']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">SAR EU</td>
      <td>{{row['data79']}}</td>
      <td>{{row['data80']}}</td>
    </tr>
    <tr>
      <td align="left" class="subheadings" width="10%">Price</td>
      <td>{{row['data81']}}</td>
      <td>{{row['data82']}}</td>
    </tr>

    <!-- row16 -->
    <tr>
      <td rowspan="1" align="center" class="headings" width="10%">Review</td>
      <td align="left" class="subheadings" width="10%">Rating</td>
      <td>{{row['data83']}}</td>
      <td>{{row['data84']}}</td>
    </tr>

  </table>
  {% endfor %}
  {% endif %}
        </div>
    <script src="/static/scripts.js"> </script>
    
  

</body>
</html>
